@use "src/styles/01-settings/settings.colors" as colors;
@use "src/styles/02-tools/tools.typography" as typo;
@use "src/styles/02-tools/tools.include-media" as im;
@use "src/styles/02-tools/tools.z-index" as index;

.c-Steps {
  @include im.media(">=tablet") {
    &::after {
      position: absolute;
      top: 59px;
      right: 0;
      display: block;
      width: 150px;
      height: 160px;
      background-image: url("../../../../public/images/Yellow_shape_right_top.svg");
      background-repeat: no-repeat;
      content: "";
    }

    &::before {
      position: absolute;
      top: calc(100% - 121px);
      left: 0;
      display: block;
      width: 288px;
      height: 121px;
      background-image: url("../../../../public/images/Yellow_shape_left_bottom.svg");
      background-repeat: no-repeat;
      content: "";
    }
  }
}
