@use "src/styles/02-tools/tools.typography" as typo;

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  @include typo.heading(1);
}

h2 {
  @include typo.heading(2);
}

h3 {
  @include typo.heading(3);
}

h4 {
  @include typo.heading(4);
}

h5,
h6 {
  @include typo.heading(5);
}
