@use "src/styles/01-settings/settings.colors" as colors;
@use "src/styles/02-tools/tools.include-media" as im;

.c-Overlay {
  &__Container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    background: rgb(0 0 0 / 70%);
  }

  &__Modal {
    max-height: 800px;
    padding: 30px;
    overflow-y: auto;
    background: colors.$white;
    border-radius: 10px;
    scrollbar-width: thin;
    scrollbar-color: colors.$blue-4 colors.$white;

    &_large {
      width: 100%;
      @include im.media(">tablet") {
        width: 80%;
      }
    }

    &_small {
      width: 100%;
      @include im.media(">tablet") {
        width: 30%;
      }
    }

    &_default {
      width: 100%;
      @include im.media(">tablet") {
        width: 40%;
      }
    }

    &_fullWidth {
      width: 100%;
      height: 100%;
      padding: 20px;
      border-radius: 0;
    }

    &::-webkit-scrollbar {
      right: 20px;
      width: 4px;
      height: 4px;
      background-color: colors.$white;
      border-radius: 15px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: colors.$blue-4;
      border-radius: 15px;
    }

    &::-webkit-scrollbar-track {
      border: 1px solid colors.$blue-4;
      border-radius: 15px;
    }

    &::after {
      right: 10px; /* Ajustez la valeur pour correspondre à la position de la barre de défilement */
      content: "";
    }
  }

  &__CloseIcon {
    width: 16px;
    margin-left: 10px;
  }

  &__Close {
    cursor: pointer;
  }

  &__Header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 40px;

    &_noTitle {
      justify-content: flex-end;
    }
  }
}
