@use "src/styles/01-settings/settings.colors" as colors;
@use "src/styles/02-tools/tools.include-media" as im;
@use "src/styles/02-tools/tools.shadows" as shadows;

.c-MyHomeData {
  &__Barometer {
    @include shadows.shadow(1);

    position: relative;
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-right: 24px;
    padding: 24px 16px;
    background-color: colors.$white;
    border-radius: 8px;
  }

  &__BarometerTopInfo {
    font-size: 16px;
    text-align: center;

    span {
      font-weight: 600;
    }
  }

  &__BarometerAccess {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    text-align: center;

    p {
      display: flex;
      align-items: center;
      color: colors.$blue-2;
      font-weight: 400;
      font-size: 12px;
    }
  }

  &__BarometerLegend {
    display: flex;

    p {
      display: flex;
      align-items: center;
      margin-right: 24px;
      color: colors.$blue-2;
      font-weight: 600;
      font-size: 14px;

      &:last-of-type {
        margin-right: 0;
      }
    }

    span {
      display: block;
      width: 12px;
      height: 12px;
      margin-right: 8px;
      border-radius: 50px;
    }
  }

  &__BarometerLegend_low {
    background-color: colors.$graph-low;
  }

  &__BarometerLegend_medium {
    background-color: colors.$graph-medium;
  }

  &__BarometerLegend_hot {
    background-color: colors.$graph-hot;
  }

  &__BarometerLegend_veryHot {
    background-color: colors.$graph-veryhot;
  }

  &__BarometerBottomInfo {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    color: colors.$blue-2;
    font-weight: 600;
    font-size: 12px;
    text-align: center;

    span {
      color: colors.$expert-blue;
      font-size: 16px;
    }
  }

  &__BarometerBottomInfoEdit {
    display: flex;
    width: 26px;
    height: 24px;
    margin-left: 5px;
  }
}
