@use "src/styles/02-tools/tools.include-media" as im;
@use "src/styles/01-settings/settings.colors" as colors;

.c-AutocompleteAddress {
  width: 100%;
  max-width: 100%;

  &__Label {
    color: #767c97;
    font-weight: 700;
    font-size: 16px;
  }

  &__Input {
    width: 100%;
    max-width: 100%;
    height: 48px;
    margin-bottom: 16px;
    padding: 0 8px;
    border: 1px solid;
    border-color: colors.$blue-2;
    border-radius: 4px;
  }

  &__Container {
    position: relative;
  }

  &__Selector {
    width: 100%;
    max-height: 232px;
    margin-top: 2px;
    margin-bottom: 16px;
    padding: 4px;
    overflow-x: hidden;
    overflow-y: scroll;
    background: colors.$white;
    border: 2px solid colors.$blue-4;
    border-radius: 2px;
    box-shadow: 0 0 1px rgb(17 95 251 / 5%), 0 1px 3px rgb(17 95 251 / 10%);
    cursor: pointer;

    @include im.media("<=mobile") {
      position: absolute;
      bottom: calc(100% - 20px);
      z-index: 999;
      margin-top: 20px;
    }

    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
      background-color: colors.$white;
      border-radius: 15px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: colors.$blue-4;
      border-radius: 15px;
    }

    &::-webkit-scrollbar-track {
      border: 1px solid colors.$blue-4;
      border-radius: 15px;
    }
  }

  &__Option {
    position: relative;
    gap: 10px;
    width: 100%;
    padding: 16px;
    text-align: left;

    &::after {
      position: absolute;
      bottom: 0;
      display: block;
      width: calc(100% - 8px);
      height: 1px;
      content: "";
    }

    &:not(:last-child) {
      border-bottom: 1px solid colors.$blue-4;
    }

    &:hover {
      background: colors.$gray-200;
    }
  }
}
