@use "src/styles/01-settings/settings.colors" as colors;

.c-CommonBlockHeading {
  display: flex;
  flex-direction: column;
  gap: 14px;
  color: colors.$expert-blue;

  &__Line {
    width: 53px;
    height: 0;
    border: 2px solid colors.$brand-secondary;
    border-radius: 5px;
  }

  &_alignLeft {
    align-self: flex-start;
  }
}
