@use "src/styles/01-settings/settings.layout" as layout;
@use "src/styles/02-tools/tools.include-media" as im;
@use "src/styles/02-tools/tools.z-index" as index;

.c-DashboardWaste {
  position: relative;
  min-height: calc(100vh - 60px);
  @include im.media(">=mobile") {
    &:last-of-type {
      margin-bottom: 287px;
    }

    &::after {
      position: absolute;
      top: -70px;
      right: 0;
      z-index: -1;
      display: block;
      width: 484px;
      height: 418px;
      background-image: url("../../../../../../public/images/formeShapeTop_HP.svg");
      background-repeat: no-repeat;
      content: "";
    }

    &::before {
      position: absolute;
      top: 100%;
      right: 0;
      display: block;
      width: 362px;
      height: 287px;
      background-image: url("../../../../../../public/images/formeShapeBottom_HP.svg");
      background-repeat: no-repeat;
      content: "";
    }
  }

  &:last-of-type {
    margin-bottom: 184px;
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    display: block;
    width: 67px;
    height: 75px;
    background-image: url("../../../../../../public/images/mobile_page_top-right-angle.svg");
    background-repeat: no-repeat;
    content: "";
  }

  &::before {
    position: absolute;

    // bottom: 0;
    top: 100%;
    right: 0;
    display: block;
    width: 235px;
    height: 184px;
    background-image: url("../../../../../../public/images/mobile_astuces-section_bottom-right-angle.svg");
    background-repeat: no-repeat;
    content: "";
  }

  &__CommonModal {
    position: fixed;
    top: 150px;
    left: 50%;
    z-index: 11;
    display: flex;
    align-items: center;
    width: 628px;
    height: 498px;
    min-height: 460px;
    padding: 48px 64px 61px;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    transform: translateX(-50%);

    @include im.media("<=mobile") {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      padding: 60px 16px 0;
      border-radius: 0;
      transform: none;
    }

    &_container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: calc(100% - 60px);
    }

    > .c-CommonButton:first-child {
      position: absolute;
      top: 28px;
      right: 28px;
      width: 24px;
      height: 24px;
      font-size: 20px;
      background-image: url("../../../../../../public/images/pictos/close.svg");
    }

    &_title {
      margin-bottom: 24px;
      font-weight: 700;
      font-size: 24px;
      line-height: 25px;
    }

    &_subTitle {
      margin-bottom: 24px;
      font-size: 16px;
      line-height: 24px;

      @include im.media("<=mobile") {
        margin-bottom: 34px;
      }
    }

    &_button {
      margin: 24px auto;
      @include im.media("<=mobile") {
        margin: 34px auto;
      }
    }

    &_backdrop {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
      width: 100vw;
      height: 100vh;
      background: rgba(#343a40, 0.45);
    }
  }
}
