@use "src/styles/02-tools/tools.include-media" as im;

.c-MyHomeData {
  display: flex;
  justify-content: space-around;
  padding: 32px;

  &__TitleContent {
    display: none;
    @include im.media(">=mobile") {
      display: flex;
      gap: 16px;
      align-items: center;
      justify-content: center;
    }
  }

  &__InfoIcon {
    cursor: pointer;
    @include im.media(">=mobile") {
      display: none;
    }
  }

  &__Info {
    width: 50px;
  }

  &__PencilIcon {
    cursor: pointer;
  }

  &__Overlay {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__Flows {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
