@use "src/styles/01-settings/settings.colors" as colors;
@use "src/styles/01-settings/settings.layout" as layout;
@use "src/styles/02-tools/tools.media-queries" as media;
@use "src/styles/02-tools/tools.z-index" as index;

.o-Page {
  &__Container {
    position: relative;
    top: layout.$header-height;
    width: 100vw;
    height: calc(100vh - #{layout.$header-height});
    overflow: hidden auto;

    @include media.desktop-only {
      left: layout.$sidebar-width;
      width: calc(100vw - #{layout.$sidebar-width});
    }
  }

  &__Main {
    z-index: index.z("site-content");
    display: flex;
    flex-direction: column;
    min-height: calc(
      100vh - #{layout.$header-height} - #{layout.$footer-height}
    );
  }

  // TODO: temporary structural class, remove later
  &__Section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 16px;

    &:not(:last-child) {
      border-bottom: 1px solid colors.$gray-200;
    }
  }
}
