@use "src/styles/01-settings/settings.colors" as colors;
@use "src/styles/01-settings/settings.layout" as layout;
@use "src/styles/02-tools/tools.include-media" as im;
@use "src/styles/02-tools/tools.z-index" as index;

.o-Page {
  &__Container {
    position: relative;
    top: layout.$header-height;
    width: 100vw;
    height: calc(100vh - #{layout.$header-height});
    overflow: hidden auto;
    @include im.media(">=laptop") {
      left: layout.$sidebar-width;
      width: calc(100vw - #{layout.$sidebar-width});
    }

    .c-CommonBlockHeading {
      order: 0;
    }
  }

  &__Main {
    position: relative; // to check in other pages
    z-index: index.z("site-content");
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - #{layout.$header-height});
  }

  &__Section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 16px;

    &:not(:last-child) {
      border-bottom: 1px solid colors.$gray-200;
    }
  }
}

.o-Steps {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin: 30px auto;
  padding: 0 16px;

  @include im.media("<tablet", ">=mobile") {
    width: 70%;
    padding: 0 20px;
  }

  @include im.media(">=tablet") {
    flex-direction: row;
    width: 987px;
    max-width: 987px;
    margin: 78px auto;
    padding: 0;
  }

  > svg {
    position: absolute;
    top: -10000000000000000px;
    @include im.media(">=tablet") {
      position: unset;
      display: block;
    }
  }

  &__Image {
    order: 2;
    margin: 34px auto;

    @include im.media("<mobile") {
      width: 160px;
      height: 160px;
    }
    @include im.media(">=tablet") {
      order: 0;
      width: 480px;
      min-width: 480px;
      height: 480px;
      margin: 0 55px 0 0;
    }
  }

  &__Container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0;

    @include im.media(">=tablet") {
      // width: auto;
    }

    > svg {
      display: block;
      @include im.media(">=tablet") {
        display: none;
      }
    }
  }

  &__CardContainer {
    display: flex;
    flex-direction: column;
    grid-area: form;
    align-items: flex-start;
    order: 3;
    width: 100%;
    padding: 0;
    @include im.media(">=mobile") {
      margin-top: 40px;
    }

    .c-CommonButton {
      width: 100%;
      margin-bottom: 16px;
    }
  }

  &__SubText {
    margin-bottom: 16px;
    color: colors.$expert-blue;
    font-style: normal;

    @include im.media(">=mobile") {
      font-weight: 700;
      font-size: 16px;
    }
  }

  &__Title {
    margin-bottom: 16px;
  }

  &__Card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 56px;
    margin-bottom: 16px;
    padding: 18px 24px;
    color: colors.$expert-blue;
    background: colors.$white;
    border-radius: 8px;
    box-shadow: 0 0 1px rgb(17 95 251 / 5%), 0 1px 3px rgb(17 95 251 / 10%);

    @include im.media(">=mobile") {
      font-size: 16px;
    }
  }

  &__CardButtons_openmodal {
    font-size: 14px;
    text-align: center;
  }

  &__ButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}

.o-CornerShapes {
  @include im.media(">=tablet") {
    &::after {
      position: absolute;
      top: 59px;
      right: 0;
      display: block;
      width: 150px;
      height: 160px;
      background-image: url("../../../public/images/Yellow_shape_right_top.svg");
      background-repeat: no-repeat;
      content: "";
    }

    &::before {
      position: absolute;
      top: calc(100% - 121px);
      left: 0;
      display: block;
      width: 288px;
      height: 121px;
      background-image: url("../../../public/images/Yellow_shape_left_bottom.svg");
      background-repeat: no-repeat;
      content: "";
    }
  }
}
