@use "../../styles/06-vendors/vendors.react-big-calendar";

.c-Agenda {
  &__Calendar {
    height: 800px;
    margin: 10px 0;
  }

  &__Type {
    &_event {
      background-color: #3a3ab4;
    }

    &_slot {
      background-color: #50b21e;
    }

    &_day {
      background-color: #d0b53a;
    }
  }
}
