@use "src/styles/02-tools/tools.include-media" as im;
@use "src/styles/01-settings/settings.colors" as colors;

.c-MyEvolution {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  &__Content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 0;
    background-color: transparent;
    @include im.media(">=mobile") {
      width: calc(70% + 75px + 16px);
      margin-top: 16px;
      background-color: $white;
      border-radius: 8px;
      box-shadow: 0 0 1px rgb(17 95 251 / 5%), 0 1px 3px rgb(17 95 251 / 10%);
    }
  }

  &__DateSelectorContent {
    width: 100%;
    background-color: colors.$white;
  }
}
