@use "src/styles/01-settings/settings.colors" as colors;

.c-Marker {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0;
  animation: 1s ease-in-out infinite both;

  &__Content {
    position: absolute;
    top: calc(25% - 46px / 2);
    left: calc(50% - 46px / 2);

    :hover {
      filter: drop-shadow(1px 2px 1px colors.$brand-primary);
    }
  }

  // Need important to be not overwrite by the hover
  &__TopPin {
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 3;
    width: 40px;
    height: 40px;
    background-color: colors.$brand-primary !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 6px solid colors.$brand-primary;
    border-radius: 50%;
    outline: 3px solid colors.$brand-primary-dark;
  }

  &__TopPin::after {
    position: absolute;
    bottom: -14px;
    left: 0;
    z-index: 2;
    width: 0;
    height: 0;
    border-top: 14px solid colors.$brand-primary;
    border-right: 14px solid transparent;
    border-left: 14px solid transparent;
    content: "";
  }

  &__BottomPin {
    position: absolute;
    bottom: -18px;
    left: -3px;
    z-index: 1;
    width: 0;
    height: 0;
    border-top: 17px solid colors.$brand-primary-dark;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
  }

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
    animation-name: bounce-marker;

    .c-Marker__WavePin {
      position: absolute;
      top: -10px;
      left: 50%;
      width: 2px;
      height: 1px;
      margin: 50px auto;
      border: #fff 7px solid;
      border-radius: 300px / 150px;
      transform: translateX(-50%);
      opacity: 0;
      animation: shadow-marker 2s infinite;
    }
  }
}

// Bounce animation marker
@keyframes bounce-marker {
  0%,
  100%,
  20%,
  50%,
  80% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

// Drop animation marker
@keyframes shadow-marker {
  from {
    opacity: 1;
  }

  to {
    top: -8px;
    width: 100px;
    height: 50px;
    border-width: 1px;
    opacity: 0;
  }
}
