@use "src/styles/02-tools/tools.include-media" as im;

.c-RequestFields {
  display: grid;
  gap: 14px;
  &__AppointmentSlots {
    margin-top: 30px;
  }
}

.c-FormInput {
  width: 100%;
  margin-top: 14px;
  @include im.media(">=tablet") {
    width: 60%;
  }
}
