@use "src/styles/01-settings/settings.colors" as colors;
@use "src/styles/02-tools/tools.typography" as typo;
@use "src/styles/02-tools/tools.include-media" as im;
@use "src/styles/02-tools/tools.z-index" as index;

.c-EditoHeadingBlock {
  position: relative;
  min-height: 353px;
  overflow: hidden;

  @include im.media(">=tablet") {
    min-height: 404px;
  }

  &__Content {
    display: flex;
    flex-direction: column;

    @include im.media(">=tablet") {
      flex-direction: row;
      padding: 27px 124px 80px;
    }
  }

  &__Header {
    position: relative;
    z-index: index.z("site-content");
    width: 100%;
    min-height: 205px;
    overflow: hidden;

    @include im.media(">=tablet") {
      flex-basis: 48.8%;
      border-radius: 8px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__CardContainer {
    position: relative;
    z-index: index.z("site-content");

    @include im.media(">=tablet") {
      flex-basis: 51.2%;
    }
  }

  &__Card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: -45px 16px 0;
    padding: 24px 16px;
    background: colors.$white;
    border-radius: 8px;

    @include im.media(">=tablet") {
      margin: 90px 0 90px -75px;
      padding: 24px;
      border-radius: 8px;
    }
  }

  &__Title {
    text-align: center;

    @include im.media(">=tablet") {
      text-align: left;
    }
  }

  &__Tags {
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
    justify-content: center;

    @include im.media(">=tablet") {
      justify-content: left;
    }
  }

  &__Tag {
    @include typo.text("tag");

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 10px;
    color: colors.$expert-blue;
    border: 1px solid colors.$gray-0;
    border-radius: 4px;

    &_darker {
      background-color: colors.$gray-0;
    }
  }

  &__Background {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 108px;
    background: colors.$background-dark;
    content: "";

    @include im.media(">=tablet") {
      height: calc((100% + 59px) / 2);
    }
  }

  &__SvgContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    @include im.media(">=tablet") {
      width: unset;
    }

    svg {
      width: 100%;

      #primary-color {
        fill: colors.$brand-primary;
      }

      #secondary-color {
        fill: colors.$brand-secondary;
      }
    }
  }

  &__Svg {
    &_mobile {
      display: initial;

      @include im.media(">=tablet") {
        display: none;
      }
    }

    &_desktop {
      position: relative;
      bottom: 10px;
      display: none;

      @include im.media(">=tablet") {
        display: initial;
      }
    }
  }
}
