@use "src/styles/01-settings/settings.colors" as colors;

.c-CommonSpinner {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  transform: scale(75%);

  div {
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid;
    border-color: colors.$expert-blue transparent transparent;
    border-radius: 50%;
    animation: common-spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  }

  div:nth-child(1) {
    animation-delay: -0.45s;
  }

  div:nth-child(2) {
    animation-delay: -0.3s;
  }

  div:nth-child(3) {
    animation-delay: -0.15s;
  }

  @keyframes common-spinner {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  &__Wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    &_cover {
      position: absolute;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
  }
}
