@use "src/styles/01-settings/settings.colors" as colors;
@use "src/styles/02-tools/tools.include-media" as im;

.c-EmailReminder {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border: 1px solid $blue-4;
  border-radius: 8px;

  &__Content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    @include im.media(">=mobile") {
      flex-direction: row;
      gap: 0;
      justify-content: space-between;
    }
  }

  &__Text {
    color: $expert-blue;
  }

  &__Link {
    text-decoration: underline;
  }
}
