@use "sass:math";
@use "src/styles/01-settings/settings.colors" as colors;
@use "src/styles/02-tools/tools.typography" as typo;
@use "src/styles/02-tools/tools.z-index" as index;
@use "src/styles/02-tools/tools.include-media" as im;
@use "src/styles/02-tools/tools.functions" as func;

.c-TipCard {
  $self: &;

  position: relative;
  z-index: index.z("site-content");
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 25px 15px;
  overflow: hidden;
  background-color: colors.$brand-primary;
  border-radius: 8px;

  @include im.media(">desktop") {
    width: calc((100% / 4) - 10px);
  }

  @include im.media(">mobile", "<=desktop") {
    width: calc((100% / 2) - 10px);
    margin-bottom: 15px;
  }

  @include im.media("<=mobile") {
    margin-bottom: 15px;
  }

  &:hover {
    background-color: colors.$brand-primary-dark;
  }

  &__Wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  &__Tags {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    align-items: center;
  }

  &__Tag {
    @include typo.text("tag");

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 10px;
    color: colors.$contrast-text;
    font-weight: 500;
    border: 1px solid colors.$blue-1;
    border-radius: 4px;

    &_background {
      background-color: rgb(0 0 0 / 10%);
      border: hidden;
    }
  }

  &__Content {
    @include typo.text("bodyStatic");

    flex-grow: 1;
    color: colors.$contrast-text;
    font-weight: 500;
    word-wrap: break-word;
  }

  &__Link {
    @include typo.text("buttonSmall");

    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
    padding: 0;
    color: colors.$contrast-text;

    &::after {
      width: 24px;
      height: 24px;
      content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)' stroke='#{func.hex-to-url-string(colors.$contrast-text)}' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M.75 12h22.5m-10.5 10.5L23.25 12 12.75 1.5'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h24v24H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }

    #{$self}:hover & {
      text-decoration: underline;
    }
  }

  &__Svg {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 72px;
    margin: 17px;

    &::after {
      // Position the o-Blob::after element
      top: -17px;
      left: -22px;
    }

    img {
      filter: url("#recolor-white");
    }
  }
}
