@use "src/styles/02-tools/tools.include-media" as im;

.c-RequestPage {
  width: 100%;
  padding-bottom: 30px;

  &__FirstLevel {
    padding: 0 16px;
    @include im.media(">=tablet") {
      padding: 0 150px;
    }
  }

  &__LevelGroup {
    display: grid;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    @include im.media(">=tablet") {
      grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    }
  }

  &__MandatoryFieldsLabel {
    margin-top: 15px;
    margin-bottom: 30px;
    @include im.media(">=tablet") {
      text-align: right;
    }
  }
}
