@use "src/styles/01-settings/settings.colors" as colors;
@use "src/styles/02-tools/tools.include-media" as im;

.c-RequestCumbersomeInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(50% - 4px);
  padding: 16px;
  background-color: colors.$white;
  border: 1px solid colors.$blue-4;
  border-radius: 8px;

  @include im.media("<=mobile") {
    flex-direction: column;
    padding: 8px;
  }

  span {
    color: colors.$blue-2;
    font-weight: 700;
    font-size: 16px;

    @include im.media("<=mobile") {
      font-size: 10px;
      line-height: 1em;
    }
  }

  &__ActionsContainer {
    display: flex;
    align-items: center;
  }

  &__MinusButton,
  &__PlusButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: 1px solid colors.$blue-4;
    border-radius: 100%;
    cursor: pointer;
    user-select: none;
    user-select: none;
    user-select: none;

    @include im.media("<=mobile") {
      width: 18px;
      height: 18px;
    }

    &_disabled {
      background-color: colors.$gray-0;
      cursor: not-allowed;
    }

    span {
      line-height: 0;
    }
  }

  &__MinusButton {
    margin-right: 8px;

    @include im.media("<=mobile") {
      margin-right: 4px;
    }
  }

  &__Quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 96px;
    height: 40px;
    margin-right: 8px;
    background-color: colors.$gray-200;
    border: 1px solid colors.$blue-4;
    border-radius: 8px;
    cursor: default;
    opacity: 0.8;

    @include im.media("<=mobile") {
      width: 48px;
      height: 20px;
      margin-right: 4px;
    }

    span {
      font-weight: bolder;
      font-size: 18px;
      user-select: none;
      user-select: none;
      user-select: none;

      @include im.media("<=mobile") {
        font-size: 12px;
      }
    }
  }

  &__PlusButton {
    margin-right: 16px;

    @include im.media("<=mobile") {
      margin-right: 8px;
    }
  }

  &__RemoveButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    cursor: pointer;

    @include im.media("<=mobile") {
      width: 18px;
      height: 18px;
    }

    span {
      width: 75%;
      height: 75%;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' style='enable-background:new 0 0 24 24' xml:space='preserve' fill='%23030f40'%3E%3Cpath d='M1.751 7.118a.751.751 0 0 1-.156-1.484l5.869-1.247-.156-.731a2.247 2.247 0 0 1 .317-1.698c.328-.504.833-.85 1.421-.974l4.401-.935a2.231 2.231 0 0 1 1.692.316c.503.328.849.833.973 1.421l.155.73 5.869-1.247a.753.753 0 0 1 .889.577c.042.196.004.396-.105.564s-.277.283-.473.325l-6.56 1.395a.386.386 0 0 1-.042.012L8.51 5.701a.482.482 0 0 1-.052.008L1.907 7.101a.745.745 0 0 1-.156.017zm7.605-4.667a.747.747 0 0 0-.581.889l.156.735L14.8 2.827l-.155-.731a.748.748 0 0 0-.884-.581l-4.405.936zm1.395 16.299a.75.75 0 0 1-.75-.75v-7.5a.75.75 0 0 1 1.5 0V18a.75.75 0 0 1-.75.75zm4.5 0a.75.75 0 0 1-.75-.75v-7.5a.75.75 0 0 1 1.5 0V18a.75.75 0 0 1-.75.75z'/%3E%3Cpath d='M7.631 24a2.262 2.262 0 0 1-2.241-2.064L4.353 9.439a.748.748 0 1 1 1.494-.125l1.037 12.497c.032.386.36.688.747.688h10.735c.392 0 .72-.302.752-.688L20.433 6.75h-1.807a.75.75 0 0 1 0-1.5h2.625a.75.75 0 0 1 .747.816L20.613 21.94A2.262 2.262 0 0 1 18.371 24H7.631z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      opacity: 0.5;
    }
  }
}
