@use "src/styles/02-tools/tools.include-media" as im;
@use "src/styles/01-settings/settings.colors" as colors;

.c-StepAddress {
  &__Fields {
    display: flex;
    flex-direction: column;
    width: 100%;

    label {
      color: $blue-2;
      font-weight: 700;
    }

    input[type="text"] {
      height: 48px;
      background-color: $gray-0;
      border: 1px solid $blue-2;
      border-radius: 4px;
    }
  }
}
