@use "sass:map";

$breakpoint-values: (
  minimum: 320,
  medium-mobile: 375,
  mobile: 1439,
  large-mobile: 767,
  tablet: 1024,
  small-laptop: 1200,
  large-laptop: 1439,
  desktop: 1440,
);
$breakpoints: (
  minimum: map.get($breakpoint-values, "minimum") + px,
  medium-mobile: map.get($breakpoint-values, "medium-mobile") + px,
  mobile: map.get($breakpoint-values, "mobile") + px,
  large-mobile: map.get($breakpoint-values, "large-mobile") + px,
  tablet: map.get($breakpoint-values, "tablet") + px,
  small-laptop: map.get($breakpoint-values, "small-laptop") + px,
  laptop: map.get($breakpoint-values, "laptop") + px,
  large-laptop: map.get($breakpoint-values, "large-laptop") + px,
  desktop: map.get($breakpoint-values, "desktop") + px,
);

:root {
  @each $name, $value in $breakpoint-values {
    --breakpoint-#{$name}: #{$value};
  }
}
