/* Imported in ENV */
// Accessible Contrast (default/replaced in next.config.js)
$external-contrast-text: null;

// Brand colors (default/replaced in next.config.js)
$external-primary: null;
$external-secondary: null;

// Waste colors (default/replaced in next.config.js)
$external-waste-household: null;
$external-waste-selective: null;
$external-waste-bio: null;
$external-waste-green: null;
$external-waste-glass: null;
$external-waste-paper: null;
$external-waste-other: null;

/* Calculated with chroma.js (in next.config.js) */
$calculated-primary-dark: null;
$calculated-primary-light: null;
$calculated-secondary-dark: null;
$calculated-secondary-light: null;
