@use "src/styles/02-tools/tools.include-media" as im;

.c-RequestBlock {
  .c-CommonDatePicker {
    width: 100%;
    margin-top: 14px;
    @include im.media(">=tablet") {
      width: 60%;
    }
  }
}
