@use "src/styles/01-settings/settings.colors" as colors;
@use "src/styles/02-tools/tools.media-queries" as media;
@use "src/styles/02-tools/tools.functions" as func;
@use "src/styles/02-tools/tools.mixins" as mixins;

.c-NavigationListButton {
  $self: &;

  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 8px 16px;

  &_desktop {
    flex-direction: column;
    gap: 6px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 8px 16px;
  }

  &__Circle {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    min-height: 50px;
    padding: 0;
    background-color: colors.$brand-primary-light;
    border-radius: 100px;

    #{$self}_desktop#{$self}_active & {
      background-color: colors.$brand-primary-dark;
    }
  }

  &__Picto {
    @include mixins.recolor(colors.$brand-primary);

    #{$self}_desktop#{$self}_active & {
      @include mixins.recolor(colors.$white);
    }
  }

  &__Label {
    color: colors.$expert-blue;
    font-weight: 500;
    font-size: 14px;
    font-family: DINPro-Medium, sans-serif;
    line-height: 14px;
    letter-spacing: 0.005em;
    text-transform: uppercase;

    #{$self}_desktop & {
      text-align: center;
    }

    #{$self}_desktop#{$self}_active & {
      color: colors.$contrast-text;
    }
  }
}
