@use "src/styles/01-settings/settings.colors" as colors;
@use "src/styles/02-tools/tools.include-media" as im;

.c-RequestAddressField {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  @include im.media(">=tablet") {
    width: 60%;
  }

  &__Radio {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__Option {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
  }

  &__Input {
    position: relative;
    width: 20px;
    height: 20px;
    color: colors.$expert-blue;
    background-color: transparent;
    border: 2px solid colors.$expert-blue;
    border-radius: 50%;
    cursor: pointer;
    appearance: none;

    &_checked::after {
      position: absolute;
      top: 3px;
      right: 3px;
      bottom: 3px;
      left: 3px;
      background-color: colors.$expert-blue;
      border-radius: 50%;
      content: "";
    }
  }

  &__GpsCoordinates {
    display: flex;
    flex-direction: row;
    gap: 10px;

    > * {
      flex: 1;
    }
  }
}
