@use "src/styles/01-settings/settings.colors" as colors;
@use "src/styles/02-tools/tools.typography" as typo;
@use "src/styles/02-tools/tools.inputs" as input;
@use "src/styles/02-tools/tools.media-queries" as media;
@use "src/styles/02-tools/tools.shadows" as shadows;
@use "src/styles/02-tools/tools.z-index" as index;

.c-CommonTopContentCard {
  position: relative;
  z-index: index.z("site-content");

  @include media.from-tablet {
    position: relative;
    width: 784px;
    height: 380px;
    padding: 36px 0;
  }

  &__Image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media.mobile {
      min-width: 375px;
      height: 205px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    @include media.small-tablet {
      width: 480px;
      max-height: 304px;

      img {
        width: 100%;
        max-width: 480px;
        height: 100%;
      }
    }

    @include media.from-tablet {
      max-width: 480px;
      height: 308px;
      border-radius: 8px;

      img {
        width: 480px;
        max-width: 480px;
        height: 308px;
      }
    }

    &_hoverImg {
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__Img {
    &_mobile {
      display: initial;

      @include media.from-tablet {
        display: none;
      }
    }

    &_desktop {
      display: none;

      @include media.from-tablet {
        display: initial;
        border-radius: 8px;
      }
    }
  }

  &__ContentContainer {
    @include media.from-tablet {
      position: absolute;
      top: 50px;
      right: 18px;
      display: flex;
      align-items: center;
      height: 308px;
    }
  }

  &__Content {
    @include shadows.shadow(1);

    position: relative;
    bottom: 17px;
    left: 18px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 16px;
    background-color: colors.$white;
    border-radius: 8px;

    @include media.mobile {
      max-width: 337px;
    }

    @include media.small-tablet {
      left: 25px;
      max-width: 431px;
    }

    @include media.from-tablet {
      width: 413px;
      height: fit-content;
      padding: 24px 32px;
    }
  }

  &__ContentTags {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__Tags {
    display: flex;
    gap: 6px;
    padding: 0;
  }

  &__Tag {
    @include typo.text("tag");

    padding: 6px 10px;
    color: colors.$expert-blue;
    border: 1px solid colors.$blue-4;
    border-radius: 4px;

    &_background {
      background-color: colors.$gray-0;
      border: hidden;
    }
  }

  &__ContentCardDate {
    @include typo.text("tag");

    text-transform: lowercase;
  }

  &__Description {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 0;
  }

  &__TitleContent {
    @include typo.heading(3);
  }

  &__TitleContentTop {
    @include typo.heading(1);
  }

  &__DescriptionContent {
    color: colors.$gray-800;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }

  &__Link {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 0;
    border-radius: 2px;
    transition: text-decoration 0.3s ease-in-out;

    &:hover {
      text-decoration: underline;
    }
  }

  &__Label {
    @include typo.text("caption");

    color: colors.$blue-1;

    @include media.from-tablet {
      @include typo.text("buttonLarge");
    }
  }

  &__EditoContent {
    @include media.from-tablet {
      width: 100%;
    }

    .c-CommonTopContentCard__ContentContainer {
      width: 100%;

      @include media.from-tablet {
        width: 74%;
      }
    }

    .c-CommonTopContentCard__Content {
      width: 100%;

      img {
        height: 297px;
      }
    }

    svg {
      #primary-color {
        fill: colors.$brand-primary;
      }

      #secondary-color {
        fill: colors.$brand-secondary;
      }
    }
  }
}
