@use "sass:color";

@mixin linear-gradient($direction, $colors) {
  background: linear-gradient($direction, $colors);
}

/* SASS sorcery from https://stackoverflow.com/a/62880368/6865335 */
@mixin recolor($color: #000, $opacity: 1) {
  $r: color.red($color) / 255;
  $g: color.green($color) / 255;
  $b: color.blue($color) / 255;
  $a: $opacity;

  // grayscale fallback if SVG from data url is not supported
  $lightness: color.lightness($color);

  // color filter
  $svg-filter-id: "recolor";

  // Fallback to greyscale if filter: url() is not supported
  filter: saturate(0%) brightness(0%) invert($lightness) opacity($opacity);
  // stylelint-disable-next-line
  filter: url('data:image/svg+xml;utf8,\
    <svg xmlns="http://www.w3.org/2000/svg">\
      <filter id="#{$svg-filter-id}" color-interpolation-filters="sRGB">\
        <feColorMatrix type="matrix" values="\
          0 0 0 0 #{$r}\
          0 0 0 0 #{$g}\
          0 0 0 0 #{$b}\
          0 0 0 #{$a} 0\
        "/>\
      </filter>\
    </svg>\
    ##{$svg-filter-id}');
}
