@use "src/styles/01-settings/settings.colors" as colors;
@use "src/styles/02-tools/tools.media-queries" as media;

@mixin text($type: "body") {
  color: colors.$gray-800;
  font-family: DINPro-Medium, sans-serif;

  @if $type == "body" {
    font-weight: 400;
    font-size: 16px;
    font-family: DINPro-Regular, sans-serif;
    line-height: 24px;

    @include media.medium-mobile-only {
      font-size: 18px;
      line-height: 27px;
    }

    @include media.desktop-only {
      font-size: 18px;
      line-height: 27px;
    }
  }

  @if $type == "tag" {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
  }

  @if $type == "caption" {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;

    @include media.desktop-only {
      font-size: 14px;
      line-height: 21px;
    }
  }

  @if $type == "buttonSmall" or "buttonLarge" {
    font-weight: 500;

    @if $type == "buttonSmall" {
      font-size: 14px;
      line-height: 21px;
    }

    @if $type == "buttonLarge" {
      font-size: 16px;
      line-height: 24px;
    }
  }

  @if $type == "link" {
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    text-decoration: underline;

    @include media.desktop-only {
      font-size: 18px;
    }
  }

  @if $type == "bold" {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    @include media.desktop-only {
      font-size: 18px;
      line-height: 27px;
    }
  }

  @if $type == "boldStatic" {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
  }

  @if $type == "large" {
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
  }

  @if $type == "huge" {
    font-weight: 500;
    font-size: 26px;
    line-height: 33px;

    @include media.medium-mobile-only {
      font-size: 32px;
      line-height: 40px;
    }

    @include media.desktop-only {
      font-size: 48px;
      line-height: 60px;
    }
  }

  @if $type == "highlight" {
    font-weight: 500;
    font-size: 56px;
    line-height: 70px;
  }
}

@mixin heading($level) {
  @if $level == 1 {
    font-weight: 500;
    font-size: 24px;
    font-family: DINPro-Medium, sans-serif;
    line-height: 25px;

    @include media.desktop-only {
      font-size: 30px;
      line-height: 26px;
    }
  }

  @if $level == 2 {
    font-weight: 700;
    font-size: 20px;
    font-family: DINPro-Bold, sans-serif;
    line-height: 25px;

    @include media.desktop-only {
      font-size: 28px;
      line-height: 35px;
    }
  }

  @if $level == 3 {
    font-weight: 700;
    font-size: 20px;
    font-family: DINPro-Bold, sans-serif;
    line-height: 25px;

    @include media.desktop-only {
      font-size: 24px;
      line-height: 30px;
    }
  }

  @if $level == 4 {
    font-weight: 700;
    font-size: 16px;
    font-family: DINPro-Bold, sans-serif;
    line-height: 20px;

    @include media.desktop-only {
      font-size: 20px;
      line-height: 25px;
    }
  }

  @if $level == 5 {
    font-weight: 700;
    font-size: 16px;
    font-family: DINPro-Bold, sans-serif;
    line-height: 20px;
  }
}
