@use "sass:color" as color;
@use "src/styles/01-settings/settings.colors" as colors;

@mixin input($type: "default") {
  position: relative;
  width: 100%;
  height: 48px;
  padding: 0 8px;
  color: colors.$blue-1;
  background-color: colors.$white;
  border: 1px solid colors.$blue-2;
  border-radius: 4px;
  outline: 2px solid transparent;

  &::placeholder {
    color: colors.$blue-1;
    font-family: DINPro-Regular, serif;
  }

  &:placeholder-shown {
    background-color: colors.$gray-0;
  }

  &:focus-visible {
    color: colors.$expert-blue;
    outline-color: colors.$expert-blue;
  }

  &:disabled {
    background-color: colors.$gray-200;
    border-color: colors.$blue-4;
  }

  @if $type == "invalid" {
    padding-right: 44px;
    background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='9 9 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)' stroke='%23EB4A65' stroke-width='1.5' stroke-linecap='round'%3E%3Cpath d='M18 22.5a.25.25 0 0 0-.049.495.25.25 0 0 0 .299-.245.25.25 0 0 0-.25-.25Z' stroke-linejoin='round'/%3E%3Cpath d='M18 20.5v-5'/%3E%3Cpath d='M19.08 11.173a1.204 1.204 0 0 0-2.16 0L10.603 24.04a1.013 1.013 0 0 0 .91 1.461h12.971a1.014 1.014 0 0 0 .911-1.461L19.08 11.174Z' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M9 9h18v18H9z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: calc(100% - 12px) center;
    background-size: 20px;
    border-color: colors.$error;

    &:focus-visible {
      outline-color: colors.$error;
    }
  }
}
