@use "src/styles/01-settings/settings.colors" as colors;
@use "src/styles/02-tools/tools.include-media" as im;

@mixin html-parse() {
  p {
    display: block;
    margin: 0;
    padding: 14px 0;
  }

  h2 {
    gap: 10px;
    padding-top: 28px;

    &::after {
      width: 53px;
      height: 0;
      border: 2px solid colors.$brand-secondary;
      border-radius: 5px;
      content: "";
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: flex;
    flex-direction: column;
    color: colors.$expert-blue;

    + h2,
    + h3,
    + h4,
    + h5,
    + h6 {
      margin-top: 6px;
    }

    &:not(:first-child) {
      padding-top: 26px;
    }
  }

  strong {
    font-weight: 500;
    font-family: DINPro-Medium, sans-serif;
  }

  a {
    color: colors.$expert-blue;
    font-weight: 500;
    font-family: DINPro-Medium, sans-serif;
    text-decoration: underline;

    // TODO: css for external link SVG, but would need to tag links conditionally on BO (to know if an anchor is external or internal)
    //  or detect them here parsing through the html string (not ideal)
    // &::after {
    //  width: 20px;
    //  height: 20px;
    //  margin: auto 0 auto 10px;
    //  background-image: url("data:image/svg+xml,%3Csvg width='20' height='19' viewBox='0 0 20 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 8v8.5c0 .398-.144.78-.4 1.06a1.3 1.3 0 0 1-.964.44H2.364c-.362 0-.709-.158-.965-.44A1.58 1.58 0 0 1 1 16.5v-12c0-.398.144-.78.4-1.06A1.3 1.3 0 0 1 2.364 3h9.09M18.902.652l-7.424 7.424m2.12-7.424h5.304v5.303' stroke='%23030F40' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    //  background-repeat: no-repeat;
    //  background-position: center;
    //  content: "";
    // }
  }

  ul,
  ol {
    margin: 0;
    padding: 26px 0;
    padding-inline-start: 20px;
  }

  ul > li {
    padding-left: 3px;

    &::marker {
      color: colors.$brand-secondary;
    }
  }

  ol > li {
    padding-left: 4px;

    &::marker {
      font-weight: 500;
      font-family: DINPro-Medium, sans-serif;
    }
  }

  table {
    margin: 26px 0;
    font-size: 14px;
    line-height: 18px;
    background: colors.$white;
    border: 1px solid colors.$gray-200;

    @include im.media(">=tablet") {
      font-size: 16px;
      line-height: 21px;
    }
  }

  th,
  td {
    padding: 12px 16px;
  }

  thead,
  tfoot,
  th {
    color: colors.$blue-1;
    font-weight: 500;
    font-family: DINPro-Medium, sans-serif;
    background: colors.$gray-0;
  }
}

@mixin transcript-parse() {
  p {
    display: block;
    margin: 0;
    padding: 11px 0;
  }
}
