@use "sass:color" as color;
@use "src/styles/01-settings/settings.colors" as colors;

@mixin button($type: "secondary") {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 14px 16px 13px;
  background-color: transparent;
  border: 1px solid colors.$brand-primary;
  border-radius: 4px;
  outline: 2px solid transparent;

  &:focus,
  &:focus-visible,
  &:active {
    border-color: transparent;
    outline: 2px solid colors.$blue-clear;
  }

  &:disabled {
    color: colors.$gray-600;
  }

  @if $type == "primary" or "primaryContrast" {
    @if $type == "primary" {
      color: colors.$contrast-text;
      border-color: transparent;
    }

    @if $type == "primaryContrast" {
      color: colors.$contrast-text;
      border-color: colors.$contrast-text;
    }

    background-color: colors.$brand-primary;

    &:hover {
      background-color: colors.$brand-primary-dark;
    }

    &:active,
    &:focus {
      background-color: colors.$brand-primary-dark;
    }

    &:disabled {
      background-color: colors.$blue-4;
      border-color: transparent;
    }
  }
  @if $type == "secondary" {
    &:hover {
      background-color: color.adjust(colors.$gray-800, $alpha: -0.9);
    }

    &:active,
    &:focus {
      background-color: color.adjust(colors.$gray-800, $alpha: -0.9);
    }

    &:disabled {
      background-color: inherit;
      border-color: colors.$blue-3;
    }
  }
  @if $type == "tertiary" {
    color: colors.$blue-1;
    border-color: transparent;

    &:hover {
      background-color: color.adjust(colors.$gray-800, $alpha: -0.9);
    }

    &:active,
    &:focus {
      background-color: color.adjust(colors.$gray-800, $alpha: -0.9);
    }

    &:disabled {
      background-color: inherit;
    }
  }
}
