@use "src/styles/01-settings/settings.colors" as colors;
@use "src/styles/01-settings/settings.layout" as layout;
@use "src/styles/02-tools/tools.typography" as typo;
@use "src/styles/02-tools/tools.include-media" as im;

.c-Footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid colors.$gray-200;

  &__ContentContainer {
    $self: &;

    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    align-items: center;
    justify-content: center;
    width: 92%;
    padding: 16px 12px;

    @include im.media(">=mobile") {
      min-height: 69px;
    }
  }

  &__Link {
    @include typo.text("footer");

    position: relative;
    display: flex;
    align-items: center;
    height: 21px;
    padding-right: 12px;
    padding-left: 12px;
    transition: text-decoration 0.3s ease-in-out;

    @include im.media(">=mobile") {
      padding: 0 20px;
    }

    :hover {
      text-decoration: underline;
    }

    &::before {
      position: absolute;
      right: 0;
      width: 1px;
      height: 20px;
      background: colors.$gray-500;
      content: "";
    }

    &:last-child {
      &::before {
        content: none;
      }
    }
  }

  &__Version {
    margin-right: 1em;
    font-size: 16px;
  }
}
