@use "src/styles/01-settings/settings.colors" as colors;
@use "src/styles/01-settings/settings.layout" as layout;
@use "src/styles/02-tools/tools.media-queries" as media;

.c-Footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: layout.$footer-height;
  overflow: hidden auto;
  background-color: colors.$white;
  border-top: 1px solid colors.$gray-200;
}
