@use "src/styles/01-settings/settings.colors" as colors;
@use "src/styles/01-settings/settings.layout" as layout;
@use "src/styles/02-tools/tools.media-queries" as media;
@use "src/styles/02-tools/tools.typography" as typo;
@use "src/styles/02-tools/tools.z-index" as index;

.c-WelcomeBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__Heading {
    z-index: index.z("site-content");
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-height: 182px;
    margin-top: 40px;
    margin-right: 16px;
    margin-left: 16px;

    @include media.medium-mobile-only {
      width: 76.8%;
    }

    @include media.desktop-only {
      width: 68.86%;
      max-width: 850px;
      margin-top: 60px;
      margin-left: 60px;
    }
  }

  &__Title {
    @include typo.text("huge");

    color: colors.$expert-blue;
  }

  &__Subtitle {
    @include typo.text("body");
  }

  &__SvgContainer {
    z-index: index.z("background");
    width: 100%;
    min-height: calc(
      // Avoid CLS with expected aspect-ratio
      100vw / (320 / 200)
    );
    margin-top: -12px;

    @include media.desktop-only {
      min-height: calc(
        // Avoid CLS with expected aspect-ratio
        (100vw - #{layout.$sidebar-width}) / (1233 / 500)
      );
      margin-top: -242px;
    }

    svg {
      width: 100%;
      height: 100%;

      #primary-color {
        fill: colors.$brand-primary;
      }

      #secondary-color {
        fill: colors.$brand-secondary;
      }
    }
  }

  &__Svg {
    &_mobile {
      display: initial;

      @include media.desktop-only {
        display: none;
      }
    }

    &_desktop {
      display: none;

      @include media.desktop-only {
        display: initial;
      }
    }
  }
}
