@use "src/styles/01-settings/settings.colors" as colors;
@use "src/styles/02-tools/tools.wysiwyg" as wysiwyg;

.c-SubHeadingBlock {
  @include wysiwyg.html-parse;

  display: flex;
  flex-direction: column;
  width: 100%;
}
