@use "src/styles/02-tools/tools.include-media" as im;

.c-CommonModal {
  position: absolute;
  top: 150px;
  left: 50%;
  z-index: 11;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 628px;
  height: 498px;
  min-height: 460px;
  padding: 28px 64px 61px;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  transform: translateX(-50%);

  @include im.media("<mobile") {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 60px 16px 0;
    border-radius: 0;
    transform: none;
  }

  &__Container {
    display: flex;
    flex-direction: column;
    height: calc(100% - 60px);
  }

  > .c-CommonButton:first-child {
    position: absolute;
    top: 28px;
    right: 28px;
    width: 24px;
    height: 24px;
    font-size: 20px;
    background-image: url("../../../../public//images//pictos//close.svg");
  }

  &__Title {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 24px;
  }

  &__SubTitle {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 24px;
  }

  &__Button {
    margin-top: 24px;
  }

  &__Body {
    margin-top: 34px;
    margin-bottom: 77px;
    font-size: 16px;
  }

  &__Bottom {
    margin-top: auto;
    font-size: 14px;
    font-family: DINPro-Medium, sans-serif;
  }

  &__Backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background: rgba(#343a40, 0.45);
  }
}
