@use "src/styles/01-settings/settings.layout" as layout;
@use "src/styles/02-tools/tools.include-media" as im;
@use "src/styles/02-tools/tools.z-index" as index;

.c-HomePage {
  &__CommonModal {
    position: fixed;
    top: 150px;
    left: 50%;
    z-index: 11;
    display: flex;
    align-items: center;
    width: 628px;
    height: 498px;
    min-height: 460px;
    padding: 48px 64px 61px;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    transform: translateX(-50%);

    @include im.media("<=mobile") {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      padding: 60px 16px 0;
      border-radius: 0;
      transform: none;
    }

    &_container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: calc(100% - 60px);
    }

    > .c-CommonButton:first-child {
      position: absolute;
      top: 28px;
      right: 28px;
      width: 24px;
      height: 24px;
      font-size: 20px;
      background-image: url("../../../../public//images//pictos//close.svg");
    }

    &_title {
      margin-bottom: 24px;
      font-weight: 700;
      font-size: 24px;
      line-height: 25px;
    }

    &_subTitle {
      margin-bottom: 24px;
      font-size: 16px;
      line-height: 24px;

      @include im.media("<=mobile") {
        margin-bottom: 34px;
      }
    }

    &_button {
      margin: 24px auto;
      @include im.media("<=mobile") {
        margin: 34px auto;
      }
    }

    &_backdrop {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
      width: 100vw;
      height: 100vh;
      background: rgba(#343a40, 0.45);
    }
  }
}
