@use "src/styles/02-tools/tools.typography" as typo;
@use "src/styles/02-tools/tools.include-media" as im;
@use "src/styles/01-settings/settings.colors" as colors;
@use "src/styles/02-tools/tools.shadows" as shadows;
@use "src/styles/02-tools/tools.z-index" as index;

.c-ServiceCard {
  @include typo.text("bodyStatic");
  @include shadows.shadow(1);

  z-index: index.z("site-content");
  display: flex;
  gap: 16px;
  align-items: center;
  width: 100%;
  min-height: 96px;
  padding: 16px;
  overflow: auto;
  font-weight: 500;
  background: colors.$white;
  border-radius: 8px;

  @include im.media(">=mobile") {
    padding: 24px;
  }

  &:hover {
    background-color: colors.$brand-primary-light;
  }

  &__Svg {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    min-width: 48px;
    min-height: 48px;
    padding: 0;
    background-color: colors.$brand-primary-light;
    border-radius: 100px;
  }

  &__Picto {
    filter: url("#recolor-primary");
  }

  &__Name {
    word-break: break-word;
  }
}
