@use "src/styles/02-tools/tools.include-media" as im;
@use "src/styles/01-settings/settings.colors" as colors;

.c-Step5 {
  &__InputNumber {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 16px;
  }

  &__InputField {
    flex: 35%;
    height: 56px;
    margin-right: 8px;
    padding: 0 8px;
    text-align: center;
    background-color: colors.$gray-0;
    border: 1px solid;
    border-color: colors.$blue-4;
    border-radius: 8px; /* Firefox */
    appearance: textfield; /* Safari and Chrome */

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      margin: 0;
      appearance: none;
    }
  }

  &__RGPD {
    margin-top: 24px;
    font-size: 12px;

    a {
      text-decoration: underline;
    }
  }

  &__Plus {
    margin-right: 8px;
  }

  &__Plus,
  &__Less {
    flex: 25%;
    height: 56px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 1px rgb(17 95 251 / 5%), 0 1px 3px rgb(17 95 251 / 10%);

    @include im.media(">=mobile") {
      flex: 30%;
    }
  }

  &__ErrorMessage {
    margin: -16px 0 10px;
    padding: 2px 0;
    color: colors.$error;
    font-size: 16px;
    font-style: italic;
  }
}
