@use "src/styles/01-settings/settings.colors" as colors;
@use "src/styles/02-tools/tools.include-media" as im;
@use "src/styles/02-tools/tools.buttons" as buttons;
@use "src/styles/02-tools/tools.typography" as typo;
@use "src/styles/02-tools/tools.functions" as func;

.c-CommonButton {
  &_fontSmall {
    @include typo.text("buttonSmall");
  }

  &_fontLarge {
    @include typo.text("buttonLarge");
  }

  &_primary {
    @include buttons.button("primary");
  }

  &_primaryContrast {
    @include buttons.button("primaryContrast");
  }

  &_secondary {
    @include buttons.button("secondary");
  }

  &_tertiary {
    @include buttons.button("tertiary");
  }

  &_lightGray {
    @include buttons.button("lightGray");
  }

  &_paddingSmall {
    padding: 8px 16px;
  }

  &_paddingLarge {
    padding: 15px;
  }

  &_fullWidth {
    @include im.media("<laptop") {
      width: 100%;
    }
  }

  &_isRounded {
    border-radius: 50%;
  }

  &_disabled {
    outline: none !important;
    cursor: not-allowed;
  }

  &__Picto {
    width: 24px;
    height: 24px;

    &_search {
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)' stroke='#{func.hex-to-url-string(colors.$contrast-text)}' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M1.473 13.357a9.063 9.063 0 1 0 16.682-7.09 9.063 9.063 0 0 0-16.682 7.09v0ZM16.22 16.22l7.03 7.03'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h24v24H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }

    &_cross {
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='#{func.hex-to-url-string(colors.$contrast-text)}' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m.75 23.249 22.5-22.5m0 22.5L.75.749' stroke='#{func.hex-to-url-string(colors.$contrast-text)}' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }

    &_target {
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 16 16' fill='#{func.hex-to-url-string(colors.$contrast-text)}' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke-width='0.1' d='M8.00049 15.998C7.72449 15.998 7.50049 15.774 7.50049 15.498V13.9767C4.60715 13.7347 2.26382 11.3907 2.02249 8.49805H0.500488C0.224488 8.49805 0.000488281 8.27405 0.000488281 7.99805C0.000488281 7.72205 0.224488 7.49805 0.500488 7.49805H2.02249C2.26516 4.60538 4.60849 2.26271 7.50049 2.02071V0.498047C7.50049 0.222047 7.72449 -0.00195312 8.00049 -0.00195312C8.27649 -0.00195312 8.50049 0.222047 8.50049 0.498047V2.02071C11.3932 2.26271 13.7365 4.60605 13.9785 7.49805H15.5005C15.7765 7.49805 16.0005 7.72205 16.0005 7.99805C16.0005 8.27405 15.7765 8.49805 15.5005 8.49805H13.9792C13.7372 11.3914 11.3938 13.7347 8.50049 13.9767V15.498C8.50049 15.774 8.27649 15.998 8.00049 15.998ZM3.02582 8.49805C3.26182 10.838 5.16049 12.7367 7.50049 12.9734V11.498C7.50049 11.222 7.72449 10.998 8.00049 10.998C8.27649 10.998 8.50049 11.222 8.50049 11.498V12.9734C10.8405 12.7367 12.7385 10.8387 12.9752 8.49805H11.5005C11.2245 8.49805 11.0005 8.27405 11.0005 7.99805C11.0005 7.72205 11.2245 7.49805 11.5005 7.49805H12.9752C12.7385 5.15805 10.8405 3.26071 8.50049 3.02405V4.49805C8.50049 4.77405 8.27649 4.99805 8.00049 4.99805C7.72449 4.99805 7.50049 4.77405 7.50049 4.49805V3.02405C5.16049 3.26071 3.26249 5.15805 3.02582 7.49805H4.50049C4.77649 7.49805 5.00049 7.72205 5.00049 7.99805C5.00049 8.27405 4.77649 8.49805 4.50049 8.49805H3.02582Z' stroke='#{func.hex-to-url-string(colors.$contrast-text)}'/%3E%3C/svg%3E%0A");
    }

    &_download {
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='9 11 18 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M18 12.74v8' stroke='%23030F40'/%3E%3Cpath d='m15 17.74 3 3 3-3m4.5 3v1a2 2 0 0 1-2 2h-11a2 2 0 0 1-2-2v-1' stroke='%23030F40'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M10 10.24h16v16H10z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }

    &_add {
      background-image: url("data:image/svg+xml,%3csvg width='24' height='24' viewBox='0 0 24.00 24.00' fill='none' xmlns='http://www.w3.org/2000/svg' transform='rotate(0)' stroke='%23000000'%3e%3cg id='SVGRepo_bgCarrier' stroke-width='0'%3e%3c/g%3e%3cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round' stroke='%23CCCCCC' stroke-width='0.528'%3e%3c/g%3e%3cg id='SVGRepo_iconCarrier'%3e%3ccircle cx='12' cy='12' r='10' stroke='%231C274C' stroke-width='1.5'%3e%3c/circle%3e%3cpath d='M15 12L12 12M12 12L9 12M12 12L12 9M12 12L12 15' stroke='%231C274C' stroke-width='1.5' stroke-linecap='round'%3e%3c/path%3e%3c/g%3e%3c/svg%3e");
    }

    &_delete {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_15317_3935)'%3e%3cpath d='M1.66724 4.24532L15.3612 1.33466' stroke='%233D466C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M9.56662 0.521996L6.63328 1.14533C6.50447 1.17242 6.38228 1.22468 6.27371 1.2991C6.16514 1.37353 6.07233 1.46866 6.0006 1.57903C5.92888 1.6894 5.87965 1.81285 5.85574 1.94229C5.83184 2.07173 5.83372 2.20462 5.86128 2.33333L6.06928 3.312L10.96 2.272L10.752 1.294C10.7248 1.16546 10.6727 1.04352 10.5984 0.935156C10.5242 0.826788 10.4293 0.73411 10.3192 0.662418C10.2092 0.590726 10.086 0.541425 9.95689 0.517331C9.82776 0.493237 9.69514 0.494822 9.56662 0.521996V0.521996Z' stroke='%233D466C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M7.66724 12V7' stroke='%233D466C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M10.6672 12V7' stroke='%233D466C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M12.9172 4H14.6672L13.7439 14.5827C13.7231 14.8333 13.6086 15.0669 13.4233 15.2369C13.238 15.4069 12.9954 15.5009 12.7439 15.5H5.58724C5.33643 15.4999 5.09483 15.4055 4.91035 15.2356C4.72587 15.0656 4.61197 14.8326 4.59124 14.5827L3.8999 6.25133' stroke='%233D466C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_15317_3935'%3e%3crect width='16' height='16' fill='white' transform='translate(0.5)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
    }
  }
}
