@use "sass:list";
@use "sass:math";
@use "src/styles/01-settings/settings.colors" as colors;
@use "src/styles/01-settings/settings.blobs" as b;
@use "src/styles/02-tools/tools.blobs" as blobs;
@use "src/styles/02-tools/tools.media-queries" as media;

.c-QuizAndTipsBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  padding: 40px 16px 190px;
  overflow: hidden;
  background-color: colors.$white;
  border-bottom: 1px solid colors.$gray-200;

  @include media.desktop-only {
    padding: 80px 122px;
  }

  &__Tips {
    // Generate a random blob SVG with random rotation for any child element with "o-Blob" class
    $random-start: math.random(6);
    @for $i from 1 through (list.length(b.$blobs) * 2) {
      *:nth-child(#{(length(b.$blobs) * 2)}n + #{$i}) {
        // stylelint-disable-next-line
        .o-Blob::after {
          @include blobs.blob(
            (($random-start + $i) % list.length(b.$blobs)) + 1
          );

          transform: rotate(#{math.random(360deg)}deg);
        }
      }
    }

    display: flex;
    flex-direction: column;
    gap: 24px;

    @include media.mobile-only {
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    @include media.desktop-only {
      flex-direction: row;
      padding-right: 110px;
    }
  }

  &__TipsSvgContainer {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    height: 100%;

    svg {
      width: initial;
      height: 190px;

      @include media.desktop-only {
        height: 348px;
      }

      #primary-color {
        fill: colors.$brand-primary;
      }

      #secondary-color {
        fill: colors.$brand-secondary;
      }
    }
  }

  &__Svg {
    &_mobile {
      display: initial;

      @include media.desktop-only {
        display: none;
      }
    }

    &_desktop {
      display: none;

      @include media.desktop-only {
        display: initial;
      }
    }
  }
}
