@use "src/styles/01-settings/settings.colors" as colors;
@use "src/styles/02-tools/tools.typography" as typo;
@use "src/styles/02-tools/tools.inputs" as input;
@use "src/styles/02-tools/tools.include-media" as im;

.c-RecyclingGuideBlock {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  padding: 40px 16px;
  background-color: colors.$white;

  @include im.media(">=tablet") {
    padding: 60px 160px;
  }

  @include im.media(">=laptop") {
    padding: 80px 160px;
  }

  @include im.media(">=desktop") {
    padding: 80px 124px;
  }

  @include im.media(">=large-desktop") {
    padding: 80px 224px;
  }

  &__Heading,
  &__SearchContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 648px;

    @include im.media(">=tablet") {
      max-width: 703px;
    }

    @include im.media(">=desktop") {
      max-width: 785px;
    }

    @include im.media(">=large-desktop") {
      max-width: 945px;
    }
  }

  &__Title {
    @include typo.text;

    color: colors.$expert-blue;
    font-size: 18px;
    text-align: center;
  }

  &__Subtitle {
    @include typo.heading(2);

    color: colors.$expert-blue;
    text-align: center;
  }

  &__SearchContainer {
    gap: 12px;
  }

  &__SearchBar {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include im.media(">=mobile") {
      flex-direction: row;

      button {
        width: unset;
      }
    }
  }

  &__Input {
    @include input.input;

    height: 56px;
  }

  &__Tags {
    display: flex;
    gap: 8px;
    align-items: center;
    height: 37px;
    margin-top: 12px;
    margin-right: -16px;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__Tag {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    gap: 8px;
    align-items: center;
    justify-content: center;
    height: 35px;
    padding: 7px 12px;
    color: colors.$expert-blue;
    font-size: 14px;
    line-height: 21px;
    background-color: colors.$white;
    border: 1px solid colors.$gray-200;
    border-radius: 32px;

    &::before {
      width: 16px;
      height: 16px;
      content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='-1 0 19 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.498 8.5a7.5 7.5 0 1 0 15 0 7.5 7.5 0 0 0-15 0v0Zm2.197 5.303L13.301 3.197m0 10.606L2.695 3.197' stroke='%23767C97' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }
  }
}
